<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>
</head>
<body>
<div id="project-form" class="container">
  <form>
    <h3>Prijava projekta na IT Steering</h3>
    <div class="mb-3">
      <input type="text" class="form-control" id="title" placeholder="Naslov Projekta">
    </div>
    <div class="mb-3">
      <textarea class="form-control" id="description" rows="3" placeholder="Opis Projekta"></textarea>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="business-value" placeholder="Poslovni učinek">
    </div>
    <div class="mb-3">
      <label for="deadline">Rok implementacije</label>
      <input type="date" class="form-control" id="deadline" placeholder="Rok implementacije">
    </div>
    <button type="submit" class="btn btn-primary">Oddaj prijavo</button>

  </form>
</div>
</body>
</html>